<mat-toolbar color="primary">
  <button mat-icon-button [routerLink]="['/']">
    <mat-icon>home</mat-icon>
  </button>
  <span>Catalog UI</span>
  <span class="spacer"></span>
  <button mat-button [routerLink]="['/products']">Products</button>
  <button mat-button [routerLink]="['/categories']">Categories</button>
  <button mat-button [routerLink]="['/tax-categories']">Tax Categories</button>
  <button mat-button [routerLink]="['/taxes']">Taxes</button>
  <button mat-button [routerLink]="['/products/new']">Create Product</button>
  <button mat-button [routerLink]="['/categories']">Categories</button>
  <button mat-button [routerLink]="['/categories/new']">New Category</button>
  <button mat-button [routerLink]="['/tax-categories']">Tax Categories</button>
  <button mat-button [routerLink]="['/tax-categories/new']">New Tax Category</button>
  <button mat-button [routerLink]="['/taxes']">Taxes</button>
  <button mat-button [routerLink]="['/taxes/new']">New Tax</button>
</mat-toolbar>