<mat-toolbar color="primary">
  <button mat-icon-button [routerLink]="['/']">
    <mat-icon>home</mat-icon>
  </button>
  <span>Catalog UI</span>
  <span class="spacer"></span>
  <button mat-button [routerLink]="['/products']">Productos |</button>
  <button mat-button [routerLink]="['/categories']">Categorias |</button>
  <button mat-button [routerLink]="['/tax-categories']">Categorias de Impuestos |</button>
  <button mat-button [routerLink]="['/taxes']">Impuestos |</button>
  <button mat-button [routerLink]="['/products/new']">Crear Producto |</button>
</mat-toolbar>